.button {
  background: var(--color-accent-5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  padding: 15px 40px;
  transition: 200ms color ease-in-out, 200ms background ease-in-out;

  & span {
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
  }

  &:hover {
    background: var(--color-accent-10);
  }

  &:disabled {
    color: var(--color-secondary-10);
    background: var(--color-accent-15);
  }
}