.matches {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.matchesHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  @media (min-width: 1080px) {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}

.part {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 24px;
  }
}

.interactive {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;

  @media (min-width: 768px) {
    align-items: start;
  }

  @media (min-width: 1080px) {
    flex-direction: row;
    align-items: center;
  }
}

.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding-top: 50px;
  animation: loaderAppear 300ms ease forwards;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  animation: listAppear 500ms ease forwards;

  & > * {
    opacity: 0;
    transform: translateY(20px);
    animation: itemAppear 500ms ease forwards;

    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        animation-delay: #{0.1 + $i * 50}ms;
      }
    }
  }
}

.notFound {
  color: var(--color-secondary-10);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  animation: notFoundAppear 600ms ease forwards;
}

@keyframes listAppear {
  from {
    opacity: 80%;
    transform: translateY(10px);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes itemAppear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes notFoundAppear {
  0% {
    opacity: 0;
    transform: scale(90%);
  }

  70% {
    opacity: 100%;
    transform: scale(105%);
  }

  100% {
    opacity: 100%;
    transform: scale(100%);
  }
}

@keyframes loaderAppear {
  from {
    opacity: 0;
    transform: scale(80%);
  }

  to {
    opacity: 100%;
    transform: scale(100%);
  }
}
