:root {
  --color-primary-5: rgba(6, 8, 12, 1);
  --color-primary-10: rgba(11, 14, 18, 1);
  --color-primary-15: rgba(15, 19, 24, 1);
  --color-primary-20: rgba(16, 19, 24, 1);
  --color-primary-25: rgba(20, 26, 33, 1);
  --color-secondary-5: rgba(255, 255, 255, 1);
  --color-secondary-10: rgba(120, 120, 120, 1);
  --color-secondary-15-transparent-40: rgba(250, 250, 250, 0.40);
  --color-accent-5: rgba(235, 2, 55, 1);
  --color-accent-10: rgba(160, 17, 49, 1);
  --color-accent-15: rgba(112, 19, 40, 1);
  --color-positive-5: rgba(67, 173, 40, 1);
  --color-warning-5: rgba(235, 100, 2, 1);
}
