@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.iconWrapper {
  transition: 200ms opacity ease-in-out;
}

.spin {
  animation: spin 1000ms linear infinite;
}